<!DOCTYPE html>
<html>
<head>
  <title>ScraperApp</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.js" charset="utf-8"></script>
  <link href='https://fonts.googleapis.com/css?family=Bevan' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <a href="/">Home</a>
  <a href="/keyword_data">Keyword Data</a>
</header>
<%= yield %>

</body>
</html>
